* {
    margin: 0;
}

.right {
    background: blue;
}

.left {
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: ; */
    flex: 0.25;
    margin: 50px 20px 50px 60px;
    color: white;
}

.img, h1, p {
    margin-bottom: 40px;
}

button {
    padding: 20px;
    width: 200px;
    outline: transparent;
}

.banner {
    height: 100vh;
    background: blueviolet;
    display: flex;
    justify-content: space-between;
}